<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow" />    <title>JHO's LinkFree</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon" />
</head>

<body>
    <div class="container">
    <div class="content">
        <img id="userPhoto" src="img/avatar.svg" alt="User Photo">

        <h1><a href="#" id="userName" rel="noopener">@johnho.ca</a></h1>
        <div id="links">
            <a class="link" href="https://share.streamlit.io/ohjho/open_terminal"  rel="noopener">🚀 OpenTerminal</a>
            <a class="link" href="https://share.streamlit.io/ohjho/pytubexstreamlit/main" rel="noopener">📼 PyTube ST</a>
        </div>

        <footer>
            We like it minimal. </footer>
    </div>
</div>


</body>

</html>
